<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>股票管理系统-登录页</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="__ASSETS__/css/beyond.min.css" rel="stylesheet" />
    <link href="__ASSETS__/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <link href="__HCSS__/login.css" rel="stylesheet" />
</head>
<!--Head Ends-->
<!--Body-->
<body>
<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title"><a style="text-decoration: none; color: black;" href="{:U('Index/index')}">恒铭软件管理系统</a></div>
        <div class="loginbox-social"></div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">登录</div>
        </div>
        <div class="loginbox-warning">
            <p id="warning-msg">未知错误</p>
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" id="account" placeholder="手机号" />
        </div>
        <div class="loginbox-textbox">
            <input type="password" class="form-control" id="passwd" placeholder="密码" />
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" id="verify" placeholder="验证码" />
        </div>
        <div class="loginbox-textbox">
            <img class="verifyimg reloadverify" alt="点击切换" src="{:U('Login/verify')}" onClick="this.src=this.src+'?'+Math.random()">
            <a id="cut_reloadverify" style="margin-left: 10px;" href="javascript:void(0);">看不清，换一张?</a>
        </div>

        <div class="loginbox-submit">
            <input type="button" class="btn btn-primary btn-block" id="submit-btn" value="登录">
        </div>
        <div class="loginbox-forgot forget" style="float: none;">
            <a href="javascript:void(0);">忘记密码？</a>
        </div>
        <div class="loginbox-forgot">
            <a href="{:U('Login/register')}">注册>></a>
        </div>
    </div>
</div>

<div id="toast-container" class="toast-top-right notify" style="display: none;">
    <div class="toast fa-envelope toast-info">
        <button class="toast-close-button notify_close">×</button>
        <div class="toast-message">请联系管理员</div>
    </div>
</div>

<input type="hidden" id="login-url" value="{:U('login_verify')}">
<input type="hidden" id="index-url" value="{:U('Login/select_url')}">

<!--Basic Scripts-->
<script src="__ASSETS__/js/jquery-2.0.3.min.js"></script>
<script src="__ASSETS__/js/bootstrap.min.js"></script>
<script src="__ASSETS__/js/bootbox/bootbox.js"></script>
<script src="__STAICK__/md5.js"></script>
<!--Extend Scripts-->
<script src="__HJS__/login.js"></script>
<script>
    $(function(){
        var time = 0;
        $(".forget").click(function(){
            clearTimeout(time);
            $(".notify").show();
            time = setTimeout(function(){
                $(".notify").hide();
            },3000)
        })
        $(".notify_close").click(function(){
            clearTimeout(time);
            $(".notify").hide();
        })
    })
</script>
</body>
<!--Body Ends-->
</html>
