<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            width: 11%;
        }
        #phone{
            width: 30%;
            display: inline-block;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">用户资产管理</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar operation">
                    <div class="col-sm-12 margin-bottom-20 margin-top-10">
                        <label for="phone" class="col-sm-1 form_label control-label text-align-right">用户手机号：</label>
                        <input type="tel" maxlength="11" value="{$phone}" class="form-control" name="phone" id="phone">
                        <button id="seek" type="button" class="btn btn-primary" url="{:U('Admin/assets_manage')}" style="padding: 7px; margin-top: -3px;">
                            <i class="fa fa-search"></i>搜索
                        </button>
                    </div>
                </div>

                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>用户姓名</th>
                        <th>身份证号</th>
                        <th>产品</th>
                        <th>总资产(元)</th>
                        <th>可用资产(元)</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="user_assets" item="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.identity_card}</td>
                            <td>{$vo.product}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.usable}</td>
                            <td>
                                <a asset="{$vo.id}" class="save_asset" href="javascript:void(0);">编辑</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <div class="save_assets modal modal-darkorange">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">资产管理</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="money" class="col-sm-3 control-label text-align-right"> 总资产：</label>
                        <input type="number" class="form-control" name="money" id="money">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="usable" class="col-sm-3 control-label text-align-right"> 可用资产：</label>-->
                        <!--<input type="number" class="form-control" name="usable" id="usable">-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal_close btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" url="{:U('Admin/assets_save')}" class="affirm_save btn btn-default">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <input type="hidden" id="find_url" value="{:U('Admin/get_asset_info')}" />

</block>
<block name="script">
    <script>
        $(function(){
            $("#seek").click(function(){
                var url = $(this).attr('url');
                var phone = $("#phone").val();
                if(phone){
                    var myreg = /^1+\d{10}$/;
                    if(!myreg.test(phone))
                    {
                        hint('warning','提示','请输入有效的手机号码！');
                        return;
                    }
                    window.location.href = url+"?phone="+phone;
                }
            })
            var assets = '';//操作资产id
            var find_url = $("#find_url").val();
            $(".save_asset").click(function(){
                assets = $(this).attr('asset');
                $.post(
                    find_url,
                    {
                        id:assets
                    },
                    function(data){
                        if(data['code']==0){
                            $("#money").val(data.data['money']);
//                            $("#usable").val(data.data['usable']);
                            $(".save_assets").modal({show:true})
                        }else{
                            hint('warning',data['msg'],data['data']);
                        }
                    }
                )
            })
            $(".affirm_save").click(function(){
                var url = $(this).attr('url');
                var money = $.trim($("#money").val());
                if(money==''){
                    hint('warning','提示','请输入金额！');
                    return;
                }
                if(money<0){
                    hint('warning','提示','金额输入无效！');
                    return;
                }
//                var usable = $("#usable").val();
                $.post(
                        url,
                        {
                            id:assets,
                            money:money
                        },
                        function(data){
                            if(data['code']==0){
                                hint('success',data['msg'],data['data'],true);
                            }else{
                                hint('warning',data['msg'],data['data']);
                            }
                        }
                )
                $(".save_assets").modal({show:false})
            })
        })
    </script>
</block>