<extend name="Public:base"/>
<block name="style">
    <style>
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
            padding-right: 0px;
        }
        .form_text{
            width: 15%;
            display: inline-block;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">手续费记录</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label for="phone" class="col-sm-1 control-label text-align-right form_label">手机号：</label>
                                    <input type="tel" maxlength="11" value="{$phone}" class="form-control form_text" name="phone" id="phone">
                                    <label for="name" class="col-sm-1 control-label text-align-right form_label">姓名：</label>
                                    <input type="text" maxlength="5" value="{$name}" class="form-control form_text" name="name" id="name">
                                    <button id="seek" type="button" class="btn btn-primary" url="{:U('Admin/drawings_list')}" style="padding: 7px; margin-top: -3px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-toolbar operation">
                    <div class="btn-group">
                        手续费总额：{$poundage_sum} 元
                    </div>
                </div>
                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>用户</th>
                        <th>产品</th>
                        <th>申请金额</th>
                        <th>手续费</th>
                        <th>联系电话</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="poundage_list" item="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.product}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.poundage}</td>
                            <td>{$vo.phone}</td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('Admin/poundage_list')}" id="poundage_list">

</block>
<block name="script">
    <script>
        $(function(){
            var url = $("#poundage_list").attr('url');
            $("#seek").click(function(){
                var phone = $.trim($("#phone").val());
                var name = $.trim($("#name").val());
                window.location.href=url+"?phone="+phone+"&name="+name;
            })
        })
    </script>
</block>