<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        #begin,#end{
            width: 23%;
        }
        .push_modal select{
            width: 50%;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
            padding-right: 0px;
        }
        .form_text{
            width: 15%;
            display: inline-block;
        }
        .col-sm-1{
            float: none;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">提成信息</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label class="col-sm-1 control-label text-align-right">等级：</label>
                                    <select id="grade_rank" class="form_text" data="{$grade_rank}">
                                        <option value="" selected="selected">全部</option>
                                        <option value="1">一级代理</option>
                                        <option value="2">二级代理</option>
                                        <option value="3">三级代理</option>
                                    </select>

                                    <label class="col-sm-1 control-label text-align-right">产品：</label>
                                    <select id="product_id" class="form_text" data="{$product_id}">
                                        <option value="">全部</option>
                                        <foreach name="product" item="vo" >
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>
                                    <button id="seek" type="button" class="btn btn-primary" url="{:U('Admin/push_info')}" style="padding: 7px; margin-top: -3px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-toolbar operation">
                    <div class="btn-group">
                        <a type="button" class="add_push btn btn-default" href="javascript:void (0);">
                            <i class=""></i>添加
                        </a>
                    </div>
                </div>
                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>代理</th>
                        <th>产品</th>
                        <th>次数限定</th>
                        <th>提成金额（元/次）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="push_info" item="vo">
                        <tr>
                            <td>
                                <if condition="$vo.grade_id eq 1">
                                    一级代理
                                <elseif condition="$vo.grade_id eq 2"/>
                                    二级代理
                                <elseif condition="$vo.grade_id eq 3" />
                                    三级代理
                                </if>
                            </td>
                            <td>{$vo.name}</td>
                            <td>{$vo.begin}~{$vo.end}</td>
                            <td>{$vo.money}</td>
                            <td>
                                <a obj="{$vo.id}" class="save_push" href="javascript:void(0);">编辑</a>
                                <a obj="{$vo.id}" class="del_push" href="javascript:void(0);">删除</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('Admin/del_agency')}" id="del_agency">

    <div class="push_modal modal modal-darkorange">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label text-align-right form_label">选择代理：</label>
                        <select id="grade">
                            <option value="-1">请选择代理</option>
                            <option value="1">一级代理</option>
                            <option value="2">二级代理</option>
                            <option value="3">三级代理</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label text-align-right form_label">选择产品：</label>
                        <select id="product">
                            <option value="-1">请选择产品</option>
                            <foreach name="product" item="vo" >
                                <option value="{$vo.id}">{$vo.name}</option>
                            </foreach>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="begin" class="col-sm-3 control-label text-align-right"> 提成手数：</label>
                        <input type="number" placeholder="请输入开始手数" class="form-control" name="begin" id="begin">
                        <label style=" font-size: 26px;margin-bottom: 0px;">~</label>
                        <input type="number" placeholder="请输入结束手数" class="form-control" name="end" id="end">
                    </div>

                    <div class="form-group">
                        <label for="money" class="col-sm-3 control-label text-align-right"> 提成金额(元)：</label>
                        <input type="number" placeholder="请输入提成金额" class="form-control" name="money" id="money">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal_close btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" url="{:U('Admin/push_info')}" class="affirm_save btn btn-default">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</block>
<block name="script">
    <script>
        var obj = '';//修改或删除对象
        var url = $("#affirm_save").attr('url');    //操作地址
        $(".add_push").click(function(){
            obj = '';
            $(".push_modal").modal({show:true});
            $(".modal-title").text('添加设置');

            $("#grade option[value='-1']").attr("selected", true);
            $("#product option[value='-1']").attr("selected", true);

            $("#begin").val(null);
            $("#end").val(null);
            $("#money").val(null);
        })
        $(".save_push").click(function(){
            obj = $(this).attr('obj');
            $.post(
                url,
                {
                    set_id:obj,
                    type:'look'
                },function(data){
                    $("#grade option[value="+data.data['grade_id']+"]").attr("selected", true);
                    $("#product option[value="+data.data['product_id']+"]").attr("selected", true);
                    $("#begin").val(data.data['begin']);
                    $("#end").val(data.data['end']);
                    $("#money").val(data.data['money']);
                }
            )
            $(".push_modal").modal({show:true});
            $(".modal-title").text('修改设置');
        })

        var post=true;
        $(".affirm_save").click(function(){
            var post = true;
            var grade_id = $("#grade").val();
            var product_id = $("#product").val();
            var begin = get_data($("#begin"),true,'开始手数');
            var end = get_data($("#end"),true,'结束手数');
            var money = get_data($("#money"),true,'提成金额');
            if(grade_id==-1){
                hint('warning','提示','请选择代理！');
                post = false;
            }
            if(product_id==-1){
                hint('warning','提示','请选择产品！');
                post = false;
            }
            if(begin>end){
                hint('warning','提示','提成手数设定有误！');
                post = false;
            }
            if(!post){
                return;
            }
            $.post(
                    url,
                    {
                        set_id:obj,
                        grade_id:grade_id,
                        product_id:product_id,
                        begin:begin,
                        end:end,
                        money:money,
                    },function(data){
                        if(data['code']==0){
                            hint('success',data['msg'],data['data'],true);
                            $(".modal_close").click();
                        }else if(data['code']==1){
                            hint('warning',data['msg'],data['data']);
                        }else{
                            hint('warning','提示','未知错误！');
                        }
                    }
            )
        })

        function get_data(obj,neq_zero,info){
            var get_data = $.trim(obj.val());
            if(get_data==''){
                hint('warning','提示',info+'未设置！');
                post=false;
            }
            if(neq_zero){
                if(get_data<=0){
                    hint('warning','提示',info+'设置有误！');
                    post=false;
                }
            }else{
                if(get_data<0){
                    hint('warning','提示',info+'设置有误！');
                    post=false;
                }
            }
            return get_data;
        }

        $(".del_push").click(function(){
            var obj = $(this).attr('obj');
            bootbox.setDefaults("locale","zh_CN");
            bootbox.confirm("你确定要删除吗?", function (result) {
                if (!result) {
                    return;
                }else{
                    $.post(
                        url,
                        {
                            set_id:obj,
                            type:'del'
                        },function(data){
                            if(data['code']==0){
                                hint('success',data['msg'],data['data'],true);
                            }else if(data['code']==1){
                                hint('warning',data['msg'],data['data']);
                            }else{
                                hint('warning','提示','未知错误！');
                            }
                        }
                    )
                }
            })
        })
        $("#grade_rank option[value="+$("#grade_rank").attr('data')+"]").attr("selected", true);
        $("#product_id option[value="+$("#product_id").attr('data')+"]").attr("selected", true);
        $("#seek").click(function() {
            var url = $(this).attr('url');
            var grade_rank = $.trim($("#grade_rank").val());
            var product_id = $.trim($("#product_id").val());
            window.location.href = url + "?grade_rank=" + grade_rank + "&product_id=" + product_id;
        })
    </script>
</block>