<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
        }
        .form_text{
            width: 15%;
            display: inline-block;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">代理信息</span>
                <if condition="!empty($grade)">
                    <div class="widget-buttons">
                        <a href="javascript:void(0);" onclick="self.location=document.referrer;" style="margin-right: 20px;"><< 返回</a>
                    </div>
                </if>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label class="col-sm-1 control-label text-align-right form_label">等级：</label>
                                    <select id="grade_id" data="{$where}">
                                        <option value="0">全部</option>
                                        <option value="1">一级代理</option>
                                        <option value="2">二级代理</option>
                                        <option value="3">三级代理</option>
                                    </select>
                                    <label for="phone" class="col-sm-1 control-label text-align-right form_label">手机号：</label>
                                    <input type="tel" maxlength="11" value="{$phone}" class="form-control form_text" name="phone" id="phone">
                                    <label for="name" class="col-sm-1 control-label text-align-right form_label">姓名：</label>
                                    <input type="text" maxlength="5" value="{$name}" class="form-control form_text" name="name" id="name">
                                    <button id="seek" type="button" class="btn btn-primary" url="{:U('Admin/son_agency')}" style="padding: 7px; margin-top: -3px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>用户姓名</th>
                        <th>等级</th>
                        <th>身份证号</th>
                        <th>电话</th>
                        <th>email</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="user_info" item="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.grade}</td>
                            <td>{$vo.identity_card}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.email}</td>
                            <td>{$vo.address}</td>
                            <td>
                                <if condition="$vo.grade_id neq 3">
                                    <a class="subordinate" grade="{$vo.grade_id}" user="{$vo.id}" href="javascript:void(0);">下一级</a>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

</block>
<block name="script">
    <script src="__HJS__/son_agency.js"></script>
</block>