<extend name="Public:base"/>
<block name="style">
    <style>
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
            padding-right: 0px;
        }
        .form_text{
            width: 14%;
            display: inline-block;
        }
        .add_trading select{
            width: 50%;
        }
        .panel-body .col-sm-1{
            width: 7%!important;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">客户信息</span>
                <if condition="session('user')['id'] neq $grade">
                    <div class="widget-buttons">
                        <a href="javascript:void(0);" onclick="self.location=document.referrer;" style="margin-right: 20px;"><< 返回</a>
                    </div>
                </if>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label class="col-sm-1 control-label text-align-right">分类：</label>
                                    <select id="type" class="form_text" data="{$type}">
                                        <option value="">全部</option>
                                        <option value="0">普通用户</option>
                                        <if condition="session('user')['grade_id'] eq 1">
                                            <option value="2">二级代理</option>
                                            <option value="3">三级代理</option>
                                        <elseif condition="session('user')['grade_id'] eq 2"/>
                                            <option value="3">下级代理</option>
                                        </if>
                                    </select>

                                    <label for="phone" class="col-sm-1 control-label text-align-right form_label">手机号：</label>
                                    <input type="tel" maxlength="11" value="{$phone}" class="form-control form_text" name="phone" id="phone">
                                    <label for="name" class="col-sm-1 control-label text-align-right form_label">用户名：</label>
                                    <input type="text" maxlength="5" value="{$name}" class="form-control form_text" name="name" id="name">
                                    <button id="seek" type="button" class="btn btn-primary" style="padding: 7px; margin-top: -3px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>姓名</th>
                        <th>身份证号</th>
                        <th>联系电话</th>
                        <th>email</th>
                        <th>身份</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="user_all" item="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.identity_card}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.email}</td>
                            <td>
                                <if condition="$vo.grade_id eq 0">
                                    普通用户
                                <elseif condition="$vo.grade_id eq 1"/>
                                    一级代理
                                <elseif condition="$vo.grade_id eq 2"/>
                                    二级代理
                                <elseif condition="$vo.grade_id eq 3"/>
                                    三级代理
                                </if>
                            </td>
                            <td>
                                <if condition="($vo.grade_id neq 0) ">
                                    <a class="subordinate" user="{$vo.id}"href="javascript:void(0);">查看下级</a>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('Agency/client')}" id="push_list">
    <input type="hidden" value="{$grade}" id="now_grade">
</block>
<block name="script">
    <script src="__ASSETS__/js/datetime/daterangepicker.js"></script>
    <script>
        $(function(){
            $("#type option[value="+$("#type").attr('data')+"]").attr("selected", true);
            var url = $("#push_list").attr('url');
            $("#seek").click(function(){
                var type = $.trim($("#type").val());
                var phone = $.trim($("#phone").val());
                var name = $.trim($("#name").val());
                var grade = $.trim($("#now_grade").val());
                window.location.href=url+"?grade="+grade+"&type="+type+"&phone="+phone+"&name="+name;
            })


            $(".subordinate").click(function(){
                var user = $(this).attr('user');
                window.location.href = url
                        +"?grade="+user;
            })
        })
    </script>
</block>