<extend name="Public:base"/>
<block name="style">
    <style>
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
            padding-right: 0px;
        }
        .form_text{
            width: 14%;
            display: inline-block;
        }
        .add_trading select{
            width: 50%;
        }
        #grade_rank{
            float: left!important;
        }

        .panel-body .col-sm-1{
            width: 7%!important;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">我的提成</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <label for="time" style="float: left;" class="col-sm-1 control-label text-align-right form_label">日期：</label>
                                    <div class="controls" style="float: left;width: 21%;display: inline-block;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span><input type="text" value="{$time}" class="form-control active" id="time">
                                        </div>
                                    </div>

                                    <button id="seek" type="button" class="btn btn-primary" url="{:U('Admin/drawings_list')}" style="padding: 7px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-toolbar operation">
                    <div class="btn-group">
                        提成总额：{$push_sum} 元
                    </div>
                </div>
                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>日期</th>
                        <th>提成金额（元）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="push_list" item="vo">
                        <tr>
                            <td>{$vo.create_time|date="Y-m-d",###}</td>
                            <td>{$vo.money}</td>
                            <td>
                                <a class="push_info" href="{:U('admin/push_details')}?commission={$vo.id}">详情</a>
                                <!--<if condition="$vo.grade_id neq 3">-->
                                <!--<a class="subordinate" user="{$vo.agency_id}" href="javascript:void(0);">下一级</a>-->
                                <!--</if>-->
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('Agency/push')}" id="push_list">
</block>
<block name="script">
    <script src="__ASSETS__/js/datetime/daterangepicker.js"></script>
    <script>
        $(function(){
            $('#time').daterangepicker();
            var url = $("#push_list").attr('url');
            $("#seek").click(function(){
                var time = $.trim($("#time").val());
                var begin = '';
                var end = '';
                var condition = new RegExp(/^[0|1]\d[/][0|1|2|3]\d[/]\d{4}[ ][-][ ][0|1]\d[/][0|1|2|3]\d[/]\d{4}$/);
                if(time!=''){
                    if(!condition.test(time)){
                        hint('warning', '提示', '日期格式有误！！！');
                        return;
                    }else{
                        var time_res = time.split("-");
                        begin = $.trim(time_res[0]);
                        end = $.trim(time_res[1]);
                        begin = Date.parse(new Date(begin))/1000;
                        end = Date.parse(new Date(end))/1000;
                    }
                }

                window.location.href=url+"?begin="+begin+"&end="+end;
            })
        })
    </script>
</block>