<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{$title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--Basic Styles-->
    <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="__ASSETS__/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/dataTables.bootstrap.css" rel="stylesheet"/>

    <!--Beyond styles-->
    <link href="__ASSETS__/css/beyond.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/demo.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/typicons.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/animate.min.css" rel="stylesheet"/>

    <link href="__HCSS__/page.css" rel="stylesheet"/>
    <style>
        .widget-body{
            display: inline-table!important;
        }
        .page-header{
            display: none;
        }
    </style>
    <!--引入css文件-->
    <block name="style">

    </block>
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left" style="margin-left: 2%;">
                <a target= _blank href="{:U('Index/index')}" class="navbar-brand">
                    <img src="__HIMG__/logo.png" alt="logo" style="vertical-align: -webkit-baseline-middle;vertical-align:-moz-middle-with-baseline;" />
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li class="">
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <section>
                                    <h2><span class="profile"><span>{$user['name']}，您好！</span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul style="min-width: 70px;width: 124px;" class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>{$user['name']}</a></li>
                                <li><a href="{:U('Personal/personal_info')}" style="text-align: center;">个人信息</a></li>
                                <li class="dropdown-footer">
                                    <a href="{:U('Login/login_out')}">
                                        退出
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <?php
                    list($first, $last) =  explode(' / ',$route);
                    foreach( $nav as $key => $item ){
                        if($item['name'] == $first){
                            if(!$item['url']){
                                echo '<li class="active open">';
                            }else{
                                echo '<li class="active">';
                            }
                        }else{
                            echo '<li>';
                        }
                        if($item['url']){
                            if($item['name']=='我要充值'){
                                echo '<a target="_parent" href="'.$item['url'].'">';
                            }else{
                                echo '<a href="'.$item['url'].'">';
                            }
                        }else{
                            echo '<a href="#" class="menu-dropdown">';
                        }
                        echo '<i class="menu-icon '.$item['ico'].'"></i>';
                        echo '<span class="menu-text">'.$item['name'].'</span>';
                        if(!$item['url']){
                            echo '<i class="menu-expand"></i>';
                        }
                        echo '</a>';
                        if(!$item['url']){
                            echo '<ul class="submenu">';
                            foreach( $item['children'] as $k => $value ){
                                if($value['name'] == $last){
                                    echo '<li class="active">';
                                }else{
                                    echo '<li>';
                                }
                                if($value['name']=='我要充值'){
                                    echo '<a target="_blank" href="'.$value['url'].'">';
                                }else{
                                    echo '<a href="'.$value['url'].'">';
                                }
                                echo '<span class="menu-text">'.$value['name'].'</span>';
                                echo '</a></li>';
                            }
                            echo '</ul>';
                        }
                    }
                ?>
            </ul>
            <!-- /Sidebar Menu -->
        </div>

        <div class="page-content">
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        {$route}
                    </li>
                </ul>
            </div>
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        {$header_title}
                    </h1>
                </div>
            </div>
            <div class="age-body">
                <block name="main">主内容</block>
            </div>
        </div>
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->
</div>

<!--加载-->
<include file="Public:loading"/>
<!--提示信息模态框-->
<include file="Public:hint"/>

<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
<script src="__ASSETS__/js/skins.min.js"></script>
<!--Basic Scripts-->
<script src="__ASSETS__/js/jquery-2.0.3.min.js"></script>
<script src="__ASSETS__/js/bootstrap.min.js"></script>

<!--Beyond Scripts-->
<script src="__ASSETS__/js/beyond.min.js"></script>
<script src="__ASSETS__/js/datetime/moment.js"></script>
<script src="__ASSETS__/js/datetime/daterangepicker.js"></script>
<script src="__ASSETS__/js/bootbox/bootbox.js"></script>
<script src="__ASSETS__/js/validation/bootstrapValidator.js"></script>
<script src="__ASSETS__/js/fullcalendar/fullcalendar.js"></script>
<script src="__HJS__/hint.js"></script>

<script>
    $(function(){
        for(var i=0;i < $('table').length;i++){
            var table = $('table').eq(i);
            if(table.find('tr').length==1){
                var th_len = table.find('th').length;
                var html = '<tr><td colspan="'+th_len+'">没有数据哦</td></tr>';
                table.append(html);
            }
        }
        $(".accordion-toggle").click();//预先打开所有的搜索框
    })
</script>

<block name="script">

</block>

</body>
</html>