<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载中心</title>
    <!--Basic Styles-->
    <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="__ASSETS__/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/dataTables.bootstrap.css" rel="stylesheet"/>

    <!--Beyond styles-->
    <link href="__ASSETS__/css/beyond.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/demo.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/typicons.min.css" rel="stylesheet"/>
    <link href="__ASSETS__/css/animate.min.css" rel="stylesheet"/>
    <link href="__HCSS__/download.css" rel="stylesheet" />
</head>
<body>
<div class="row" style="text-align: center; border-top: 1px solid #FE0000;background: #FE0000;">
    <div class="title">
        <a href="{:U('Index/index')}"><span style="margin-left: 40%;">恒铭软件</span></a>
        <a href="{:U('Index/download')}"><span style="margin-left: 30px;font-size: 14px;">下载中心</span></a>
    </div>
    <div class="login">
        <span><a href="{:U('Login/login')}">登录</a></span>
        <span><a href="{:U('Login/register')}">注册</a></span>
    </div>
</div>
<div class="row">

    <div class="col-sm-8 row_1">
        <div class="row">
            <div class="col-sm-8 row_1_1">
                <h2>信管家手机版</h2>
                <span class="small_title">首次交易时交易地址可能不全，退出软件并重新登录，站点选择"ZXJR"即可。</span>
                <div class="col-sm-4">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-apple"></i>App Store</a>
                    <img src="__HIMG__/ios_code.png">
                    <p>
                        苹果IOS版：在苹果App Store中搜索"信管家"或使用手机扫描二维码（支持微信扫描）
                    </p>
                </div>
                <div class="col-sm-4 margin-left-30">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-android"></i>Android</a>
                    <img src="__HIMG__/android_code.png">
                    <p>
                        安卓版：点击此处或使用手机浏览器扫描二维码（不支持微信扫描）
                    </p>
                </div>
            </div>
            <div class="col-sm-5 row_1_2">
                <img src="__HIMG__/store_data_pic.png">
            </div>
        </div>
    </div>
    <hr />
    <div class="col-sm-8 row_2">
        <div class="row">
            <div class="col-sm-8 row_2_1">
                <img src="__HIMG__/pc_data_pic.png">
            </div>
            <div class="col-sm-4 row_2_2">
                <h2>信管家电脑版</h2>
                <span class="small_title">信管家只支持WINDOWS系统，苹果系统无法使用</span>
                <div class="col-sm-5">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-windows"></i>客户端下载</a>
                    <p>文件大小:12.3M</p>
                    <p>版本:10.0.3</p>
                    <p>更新时间:2016-07-26</p>
                    <p>支持系统:win all</p>
                </div>
                <div class="col-sm-5 margin-left-20">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-arrow-circle-o-down"></i>使用文档</a>
                    <p>文档大小:12.3M</p>
                    <p>更新时间:2016-07-26</p>
                    <p>格式:pdf</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-sm-8 row_3">
        <div class="row">
            <div class="col-sm-4 row_3_1">
                <h2>信管家电脑版</h2>
                <span class="small_title">信管家只支持WINDOWS系统，苹果系统无法使用</span>
                <div class="col-sm-5">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-windows"></i>客户端下载</a>
                    <p>文件大小:11.4M</p>
                    <p>版本:10.0.0</p>
                    <p>更新时间:2016-07-26</p>
                    <p>支持系统:win all</p>
                </div>
                <div class="col-sm-5 margin-left-20">
                    <a class="btn btn-danger icon" href="javascript:void(0);"> <i class="fa fa-arrow-circle-o-down"></i>使用文档</a>
                    <p>文档大小:12.3M</p>
                    <p>更新时间:2016-07-26</p>
                    <p>格式:pdf</p>
                </div>
            </div>
            <div class="col-sm-8 row_3_2">
                <img src="__HIMG__/ys_pc_data_pic.png">
            </div>
        </div>
    </div>
    <hr />

</div>
<div class="row">
    <div class="col-sm-8" style="margin-left: 20%;">
        <div class="foot">
            <div class="foot-content">
                <h4>版权信息</h4>
                <p>© 2015 hnhmrj | 河南恒铭软甲有限公司.All Rights Reserved.</p>
                <p>备案：豫ICP备13550568532号-1</p>
            </div>
        </div>
        <div class="foot" style="margin-left: 14%;">
            <div class="foot-content">
                <h4>关于我们</h4>
                <p>
                    公司致力于开发功能更全，用户体验更好，性价比更高的
                    开源股票产品，真正帮助您实现'股票+赚钱'转型让您轻松进军股票市场。
                </p>
            </div>
        </div>
        <div class="foot">
            <div class="foot-content text-align-right" >
                <img src="__HIMG__/scan_code.png">
            </div>
        </div>
    </div>
</div>

<script src="__ASSETS__/js/jquery-2.0.3.min.js"></script>
<script src="__ASSETS__/js/bootstrap.min.js"></script>
</body>
</html>