<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .row{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .title{
            width: 50%;
            display: inline-block;
            float: left;
            line-height: 60px;
        }
        .login{
            width: 50%;
            display: inline-block;
            float: right;
            line-height: 60px;
        }
        .title span{
            font-size: 26px;
            color: #ef0b0b;
            font-weight: 700;
            float: left;
        }
        .login span{
            font-size: 18px;
            font-weight: 700;
            margin: 0 30px;
        }
        .item img{
            width: 100%;
        }
        .carousel-control{
            width: 3% !important;
        }
        .foot{
            width: 28%;
            float: left;
            text-align: left;
        }
        .foot h4{
            color: red;
            margin:20px 0;
            font-weight: 900;
        }
        .foot-content{
            margin-left: 12%;
        }
        .foot p{
            font-size: 12px;
            color: grey;
            line-height: 24px;
        }
        a{
            color: #ef0b0b;
            text-decoration: none;
        }
        a:hover{
            color: #ef0b0b;
            text-decoration: none;
        }
    </style>
</head>
    <body>
        <div class="row" style="border-top: 1px solid black;">
            <div class="title">
                <a href="{:U('Index/index')}"><span style="margin-left: 40%;">恒铭软件</span></a>
                <a href="{:U('Index/download')}"><span style="margin-left: 30px;font-size: 14px;">下载中心</span></a>
            </div>
            <div class="login">
                <if condition="empty(session('user'))">
                    <span><a href="{:U('Login/login')}">登录</a></span>
                    <span><a target= _blank href="{:U('Login/register')}">注册</a></span>
                <else />
                    <span><a href="{:U('Personal/personal_info')}"><?php echo(session('user')['name']) ?></a> ,您好</span>
                    <span><a href="{:U('Login/login_out')}">退出</a></span>
                </if>
            </div>
        </div>
        <div class="row">
            <div id="myCarousel" data-ride="carousel" data-interval="3000" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="__HIMG__/index1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img usemap="#planetmap" src="__HIMG__/index2.jpg" alt="">
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8" style="margin-left: 20%;">
                <div class="foot">
                    <div class="foot-content">
                        <h4>版权信息</h4>
                        <p>© 2015 hnhmrj | 河南恒铭软甲有限公司.All Rights Reserved.</p>
                        <p>备案：豫ICP备13550568532号-1</p>
                    </div>
                </div>
                <div class="foot" style="margin-left: 14%;">
                    <div class="foot-content">
                        <h4>关于我们</h4>
                        <p>
                            公司致力于开发功能更全，用户体验更好，性价比更高的
                            开源股票产品，真正帮助您实现'股票+赚钱'转型让您轻松进军股票市场。
                        </p>
                    </div>
                </div>
                <div class="foot">
                    <div class="foot-content" style="text-align: right;" >
                        <img src="__HIMG__/scan_code.png">
                    </div>
                </div>
            </div>
        </div>

        <map name="planetmap" id="planetmap">
            <!--第一行-->
            <area shape="rectangle"
                  coords="0,0,112,119"
                  href ="http://www.mtr.com.hk/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="112,0,224,119"
                  href ="http://www.hld.com/tc/index.shtml"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="224,0,336,119"
                  href ="http://www.hengan.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="336,0,448,119"
                  href ="http://www.wharfholdings.com/index_c.asp"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="448,0,560,119"
                  href ="https://www.hsbc.com.cn/1/2/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="560,0,672,119"
                  href ="http://www.ccb.com/cn/home/indexv3.html"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="672,0,784,119"
                  href ="http://www.crland.com.hk/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="784,0,896,119"
                  href ="http://www.bankcomm.com/BankCommSite/default.shtml"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="896,0,1008,119"
                  href ="http://www.cre.com.hk/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1008,0,1120,119"
                  href ="http://www.cr-power.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1120,0,1232,119"
                  href ="http://www.masterkong.com.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1232,0,1334,119"
                  href ="http://bank.hangseng.com/1/2/home"
                  target ="_blank" />

            <!--第二行-->
            <area shape="rectangle"
                  coords="0,119,112,238"
                  href ="http://www.kunlun.com.hk/c/index.php"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="112,119,224,238"
                  href ="http://www.hanglung.com/en-US/home"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="224,119,336,238"
                  href ="http://www.icbc.com.cn/icbc/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="336,119,448,238"
                  href ="http://www.tencent.com/zh-cn/index.shtml"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="448,119,560,238"
                  href ="http://www.citic.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="560,119,672,238"
                  href ="http://www.cathaypacific.com/cx/zh_HK/about-us.html"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="672,119,784,238"
                  href ="http://www.managedservices.com.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="784,119,896,238"
                  href ="http://www.mengniu.com.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="896,119,1008,238"
                  href ="http://www.swirepacific.com/sc/global/home.php"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1008,119,1120,238"
                  href ="http://www.esprit.cn/?mc=CN.comefrom.esprit.com&backto=http%3A%2F%2Fwww.esprit.com%2Fcompany%2Flegal%2Finformation_internet_technology"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1120,119,1232,238"
                  href ="http://www.coli.com.hk/Big5/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1232,119,1334,238"
                  href ="http://sc.hkex.com.hk/TuniS/www.hkex.com.hk/chi/index_c.htm"
                  target ="_blank" />

            <!--第三行-->
            <area shape="rectangle"
                  coords="0,238,112,357"
                  href ="http://www.mtr.com.hk/"
                  target ="_blank" />




            <area shape="rectangle"
                  coords="112,238,224,357"
                  href ="http://www.nwd.com.hk/zh-hans/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="224,238,336,357"
                  href ="http://www.lifung.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="336,238,448,357"
                  href ="http://www.ckh.com.hk/en/global/home.php"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="448,238,560,357"
                  href ="http://www.cmhk.com/main/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="560,238,672,357"
                  href ="https://www.clpgroup.com/en"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="672,238,784,357"
                  href ="http://www.aia.com.cn/zh-cn/index.html"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="784,238,896,357"
                  href ="http://www.cre.com.hk/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="896,238,1008,357"
                  href ="http://www.cnooc.com.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1008,238,1120,357"
                  href ="http://www.pingan.com/?WT.mc_id=SEM-BDBZ-PC0040&WT.srch=1"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1120,238,1232,357"
                  href ="http://www.sinopec.com/index.shtml"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1232,238,1334,357"
                  href ="http://www.cnpc.com.cn/cnpc/index.shtml"
                  target ="_blank" />

            <!--第四行-->
            <area shape="rectangle"
                  coords="0,357,112,476"
                  href ="http://www.wantwant.com.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="112,357,224,476"
                  href ="http://www.chinacoal.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="224,357,336,476"
                  href ="http://www.coscopac.com.hk/cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="336,357,448,476"
                  href ="http://www.hutchison-whampoa.com/en/about/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="448,357,560,476"
                  href ="http://www.11286.cn/bj/index_112_112.html"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="560,357,672,476"
                  href ="http://www.boc.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="672,357,784,476"
                  href ="http://www.towngas.com/Chi/Cust/index.aspx"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="784,357,896,476"
                  href ="http://www.shenhuachina.com/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="896,357,1008,476"
                  href ="http://www.boc.cn/"
                  target ="_blank" />
            <area shape="rectangle"
                  coords="1008,357,1334,476"
                  href ="__HEXCEL__/比重表.xlsx"/>
        </map>

    <script src="__ASSETS__/js/jquery-2.0.3.min.js"></script>
    <script src="__ASSETS__/js/bootstrap.min.js"></script>
    </body>
</html>