<extend name="Public:base"/>
<block name="style">
    <style>
        .widget-body{
            display: inline-block;
            width: 100%;
        }
        .form_label{
            line-height: 34px;
        }
        .head_img{
            line-height: 200px;
        }
        .user_info{
            height: 200px;
            padding: 25px!important;
        }
        .asset{
            padding: 0px;
        }
        .look_pwd{
            float: right;
            margin-right: 10%!important;
            cursor: pointer;
        }
        .databox-number{
            line-height: initial!important;
        }
    </style>
</block>
<block name="main">

    <div class="col-lg-12 col-sm-12 col-xs-12 margin-bottom-20">
        <div class="profile-container">
            <div class="profile-header row" style="margin: 0px;">
                <div class="col-lg-2 col-md-12 col-sm-12 text-center head_img">
                    <img src="__PUBLIC__/Home/Images/default.jpg" alt=""
                         class="header-avatar">
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 profile-info user_info">
                    <div class="header-fullname">{$user_info['name']}</div>
                    <div class="header-information">{$user_info['identity_card']}</div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats asset">
                    <div style="margin-bottom: 0px;" class="databox databox-xlg databox-halved radius-bordered databox-shadowed databox-vertical">
                        <div class="databox-top bg-white padding-10">
                            <div class="col-lg-12 col-sm-12 col-xs-12 text-align-center padding-10">
                                <span class="databox-header carbon">我的交易账号</span>
                            </div>
                        </div>
                        <div class="databox-bottom bg-white no-padding">
                            <div class="databox-row row-12">
                                <div class="databox-row row-6 no-padding">
                                    <div class="databox-cell cell-6 no-padding text-align-center bordered-right bordered-platinum">
                                        <span class="databox-number lightcarbon no-margin">
                                            交易账号：
                                        </span>
                                        <span class="databox-number lightcarbon margin-top-5">{$user_info['stock']?$user_info['stock']:无}</span>
                                        <!--<span class="databox-number lightcarbon no-margin">{$user_info['current']} 元</span>-->
                                    </div>

                                    <div class="databox-cell cell-6 no-padding text-align-center">
                                        <span class="databox-number lightcarbon no-margin">交易密码：</span>
                                        <span class="databox-number lightcarbon margin-top-5">
                                            <notempty name="user_info['stock_psd']">
                                                <input type="hidden" id="stock_pwd" value="{$user_info['stock_psd']}" />
                                                <span id="show_pwd">******</span><i class="fa fa-eye look_pwd"></i>
                                            </notempty>
                                        </span>
                                        <!--<span class="databox-number lightcarbon no-margin">{$product_sum} 种</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">交易记录</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <label for="time" style="float: left;" class="col-sm-1 control-label text-align-right form_label">日期：</label>
                                    <div class="controls" style="float: left;width: 21%;display: inline-block;">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span><input type="text" value="{$time}" class="form-control active" id="time">
                                        </div>
                                    </div>

                                    <label class="col-sm-1 control-label text-align-right form_label">分类：</label>
                                    <select id="product" class="form_text" data="{$product}">
                                        <option value="">全部</option>
                                        <foreach name="product_list" item="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </foreach>
                                    </select>

                                    <button id="seek" type="button" class="btn btn-primary" style="padding: 7px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>产品</th>
                        <th>交易手数</th>
                        <th>日期</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="trade_info" item="vo">
                        <tr>
                            <td>{$vo.product}</td>
                            <td>{$vo.number}</td>
                            <td>{$vo.create_time|date="Y-m-d",###}</td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>

            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('User/index')}" id="seek_url" />

</block>
<block name="script">
    <script src="__ASSETS__/js/datetime/daterangepicker.js"></script>
    <script>
        $(function(){
            $('#time').daterangepicker();

            $("#product option[value="+$("#product").attr('data')+"]").attr('selected',true);

            var url = $("#seek_url").attr('url');
            $("#seek").click(function(){
                var time = $.trim($("#time").val());
                var begin = '';
                var end = '';
                var condition = new RegExp(/^[0|1]\d[/][0|1|2|3]\d[/]\d{4}[ ][-][ ][0|1]\d[/][0|1|2|3]\d[/]\d{4}$/);
                if(time!=''){
                    if(!condition.test(time)){
                        hint('warning', '提示', '日期格式有误！！！');
                        return;
                    }else{
                        var time_res = time.split("-");
                        begin = $.trim(time_res[0]);
                        end = $.trim(time_res[1]);
                        begin = Date.parse(new Date(begin))/1000;
                        end = Date.parse(new Date(end))/1000;
                    }
                }

                var product = $.trim($("#product").val());

                window.location.href=url+"?begin="+begin+"&end="+end+"&product="+product;
            })
            $(".look_pwd").mouseenter(function(){
                var stock_pwd = $("#stock_pwd").val();
                $("#show_pwd").text(stock_pwd);
            }).mouseleave(function(){
                var stock_pwd = "******";
                $("#show_pwd").text(stock_pwd);
            })
        })
    </script>
</block>