<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
            margin-top: 5px;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .save_info{
            float: right;
            margin-right: 45%;
            margin-top: 7%;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
        }
        .form_text{
            width: 18%;
            display: inline-block;
            /*float: left;*/
        }
        #remarks{
            margin: 0px;
            width: 40%;
            height: 104px;
        }
        .input-group{
            width: 18.5%;
            float: left;
        }
        #num{
            width: 45px;
        }
        .set_num{
            display: inline-block;
            width: 50%;
        }
        .tooltip-inner{
            background-color: #e5e5e5;
            border: 0px;
            color: #444;
            text-align: left;
        }
        .tooltip{
            width: 150%;
        }
        .tooltip-arrow{
            display: none;
        }
        .deal_info{
            display: inline-block;
            line-height: 20px;
            min-height: 20px;
        }
    </style>
    <script>
        var conversiorate = '{$conversion["conversiorate"]}';
        function matrixing(that){
            var dollar = parseFloat(that*conversiorate).toFixed(2);
            $("#dollar").val(dollar);
            var type = $('input[name="type"]:checked').val();
            var payment;
            if(type==1){
                payment = $('input[name="product_id"]:checked').attr('payment');
            }else{
                payment = $('input[name="product_id"]:checked').attr('unpayment');
            }
            $(".deal_min_money").text((parseFloat(dollar)+parseFloat(payment)).toFixed(2)+"（美元）");
        }
    </script>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">填写信息</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <form action="{:U('User/recharge_handle')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label text-align-right form_label">
                            选择产品：
                            <span class="badge" data-container="body" data-titleclass="bordered-purple" data-class="dark" data-toggle="popover-hover" data-placement="bottom" data-content="交易品种不同，资金和风控不同。请确保交易品种无误">?</span>
                        </label>
                        <div style="display: inline-block;width: 50%;">
                            <foreach name="product_list" item="vo" key="k" >
                                <label class="col-sm-2 control-label form_label" style="width: 30%;">
                                    <input unpayment="{$vo.unpayment}" payment="{$vo.payment}" overnight="{$vo.overnight}" unovernight="{$vo.unovernight}" min-money="{$vo.default_cardinal}" liquidate="{$vo.default_liquidate}" value="{$vo.id}" name="product_id" type="radio" class="colored-blue">
                                    <span class="text"> {$vo.name}</span>
                                    <span class="badge margin-left-10" data-container="body" data-titleclass="bordered-purple" data-class="dark" data-toggle="popover-hover" data-placement="bottom" data-content="{$vo.intro}">?</span>
                                </label>
                                <!--<if condition="($k+1)%3 eq 0">-->
                                    <!--<br/>-->
                                <!--</if>-->
                            </foreach>
                        </div>
                        <!--</select>-->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label text-align-right form_label">是否过夜：</label>
                        <label class="col-sm-2 control-label form_label" style="width: 12%;">
                            <input value="0" checked name="type" type="radio" class="colored-blue">
                            <span class="text"> 否</span>
                        </label>
                        <label class="col-sm-2 control-label form_label" style="width: 12%;">
                            <input value="1" name="type" type="radio" class="colored-blue">
                            <span class="text"> 是</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label text-align-right form_label select_num">交易手数：</label>
                        <div class="set_num">
                            <label class="col-sm-2 control-label form_label I_set" style="width: 40%;">
                                <span class="text" style="margin-right: 5px;">自选</span>
                                <input value="-1" name="num" type="radio" class="colored-blue">
                            <span class="text">
                                <input min="1" value="1" placeholder="设置" name="set_num" id="num" type="number">
                            </span>
                                <span class="badge margin-left-10" data-container="body" data-titleclass="bordered-purple" data-class="dark" data-toggle="popover-hover" data-placement="bottom" data-content="请选择产品">?</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="money" class="col-sm-2 control-label text-align-right form_label">充值金额（元）：</label>
                        <!--<input type="number" min="0.01" onkeyup="matrixing(this.value);" placeholder="请输入充值金额" class="form-control form_text" name="money" id="money">-->
                        <div class="input-group">
                            <span class="input-group-addon">￥</span>
                            <input type="number" disabled step="0.01" min=0.01 onkeyup="matrixing(this.value);" placeholder="请输入充值金额" class="form-control" name="money" id="money">
                        </div>
                        <big style="float: left; margin: 0px 10px;line-height: 34px;"> ≈ </big>
                        <!--<input type="number" disabled min="0.01" class="form-control form_text" id="dollar">-->
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" disabled min=0 placeholder="换算成美金" class="form-control" id="dollar">
                        </div>
                    </div>
                    <div class="form-group" style="color: red;">
                        <label class="col-sm-2 control-label text-align-right deal_info">交易时间：</label>
                        <label class="col-sm-10 control-label deal_info deal_time"></label>

                        <label class="col-sm-2 control-label deal_info text-align-right">起始金额（美元）：</label>
                        <label class="col-sm-10 control-label deal_info deal_min_money"></label>

                        <label class="col-sm-2 control-label deal_info text-align-right">平仓线（美元）：</label>
                        <label class="col-sm-10 control-label deal_info deal_liquidate"></label>
                    </div>
                    <div style="display: none;" class="form-group">
                        <label for="remarks" class="col-sm-2 control-label text-align-right form_label">备注：</label>
                        <textarea style="resize: inherit;" name="remarks" id="remarks" maxlength="100" placeholder="请填写备注(100字符以内)"></textarea>
                    </div>
                    <div class="form-group no-margin margin-top-20">
                        <div class="checkbox">
                            <label for="remarks" class="col-sm-2 control-label text-align-right "></label>
                            <label>
                                <input id="consent_agreement" checked type="checkbox">
                                <span class="text">我已阅读并同意 <a target="_blank" href="{:U('User/agreement')}">《合作协议》</a></span>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" id="liquidate" name="liquidate" value="0">
                    <!--<a class="btn btn-blue shiny save_info" to-url="{:U('User/prepaid_records')}" url="{:U('User/recharge_handle')}">充值</a>-->
                    <button class="btn btn-blue shiny save_info" type="submit">充值</button>
                </form>

                <div class="form-group">
                    <hr/>
                    <label class="col-sm-8 control-label margin-left-50">
                    <h3 style="line-height: 28px;">
                        操盘须知：
                    </h3>
                    <p style="line-height: 28px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;1、所属期货公司合规合法，所有交易均有港交所交割单。
                    </p>
                    <p style="line-height: 28px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;2、外盘交易由多方构成：港交所、期货公司、博易大师、易盛、信管家、互联网线路公司等。恒铭软件仅提供程序化自动交易软件和相关资金支持，恒铭软件不承担任何交易风险以及因不可抗拒因素引发的系统风险和非系统风险。
                    </p>
                    <p style="line-height: 28px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;3、投资者务必评估自身的经济承受能力、风险控制能力、身体及心理承受能力，审慎决定是否参与交易。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;4<span style="font-family:宋体">、如出入金统一汇率调整，未出金的账户资金将自动按照新的汇率折算。</span>
                    </p>
                    <p>
                        <br/>
                    </p>
                    </label>
                </div>

            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
    <!--<input value="{$conversion['conversiorate']}" id="conversiorate" type="hidden" />-->
</block>
<block name="script">
    <script>
        $(function(){
            var get_url = '{:U("User/get_product_info")}';
            $('input[name="product_id"]').change(function(){
                var min_money = $('input[name="product_id"]:checked').attr('min-money');
                var liquidate = $('input[name="product_id"]:checked').attr('liquidate');
                $('input[name="num"][value="-1"]').attr('min-money',min_money);
                $('input[name="num"][value="-1"]').attr('liquidate',liquidate);
//                $('input[name="num"][value="-1"]').nextAll('.badge').attr('data-content','最少充值金额（人民币）'+min_money+'<br>平仓线（美元）'+liquidate);
                $('input[name="num"][value="-1"]').nextAll('.badge').attr('data-content','最少充值金额（人民币）'+min_money);
            })
            $(document).on('change',$('input[name="num"]'),function(){
                set_money();
            })
            $(document).on('change',"#num",function(){
                set_money();
            })
            function set_money(){
                if(!$('input[name="product_id"]:checked').val()||!$('input[name="num"]:checked').val()){
                    $("#money").attr('disabled','disabled');
                    $("#money").val(null);
                    var that = $("#money").val();
                    $("#money").val(parseFloat(that).toFixed(2));
                    matrixing(that);
                    return;
                }
                var min_money = $('input[name="num"]:checked').attr('min-money');
                var liquidate = $('input[name="num"]:checked').attr('liquidate');
                var num = 1;
                if($('input[name="num"]:checked').val()==-1){
                    num = parseInt($.trim($("#num").val()));
                    if(!num||num<1){
                        $("#num").val(1);
                        return;
                    }
                }
                $("#money").attr('min',num*min_money);
                $("#money").attr('liquidate',num*liquidate);
                $("#liquidate").val(num*liquidate);

                var type = $('input[name="type"]:checked').val();
                var deal_time;
                if(type==1){
                    deal_time = $('input[name="product_id"]:checked').attr('overnight');
                }else{
                    deal_time = $('input[name="product_id"]:checked').attr('unovernight');
                }
                $(".deal_time").text(deal_time);
//                $(".deal_min_money").text(num*liquidate+" （元）");
                $(".deal_liquidate").text(num*liquidate+" （美元）");

                $('input[name="num"][value="-1"]').nextAll('.badge').attr('data-content','最少充值金额（人民币）'+num*min_money+'<br>平仓线（美元）'+num*liquidate);
                $("#money").attr('disabled',false);
            }
            $('input[name="product_id"],input[name="type"]').change(function(){
                var product_id = $('input[name="product_id"]:checked').val();
                var type = $('input[name="type"]:checked').val();
                if(!(product_id&&type)){
                    return;
                }
                $.post(
                        get_url, {
                            product_id:product_id,
                            type:type,
                        },function(data){
                            if(data['code']==1){
                                hint('warning',data['msg'],data['data']);
                            }else{
                                $(".set_num").children().not('.I_set').remove();
                                if(Array.isArray(data['data'])&&data['data'].length>0){
                                    for(var i = 0;i<data['data'].length;i++){
                                        var html = '<label class="col-sm-2 control-label form_label" style="width: 30%;">' +
                                                '<input liquidate="'+data['data'][i]['liquidate']+'" min-money="'+data['data'][i]['min_money']+'" value="'+data['data'][i]['num']+'" name="num" type="radio" class="colored-blue"> ' +
                                                '<span class="text"> '+data['data'][i]['num']+' 手</span> ' +
//                                                '<span class="badge margin-left-10" data-container="body" data-titleclass="bordered-purple" data-class="dark" data-toggle="popover-hover" data-placement="bottom" data-content="">?</span>'+
//                                                '<span class="badge margin-left-10" data-toggle="tooltip" data-placement="bottom" title="最少充值金额（人民币）'+data['data'][i]['min_money']+'平仓线（美元）'+data['data'][i]['liquidate']+'">?</span>'+
                                                '<span class="badge margin-left-10" data-toggle="tooltip" data-placement="bottom" title="最少充值金额（人民币）'+data['data'][i]['min_money']+'">?</span>'+
                                                '</label>';
                                        $(".I_set").before(html);
                                    }
                                }
                                set_money();
                                $("[data-toggle='tooltip']").tooltip();
                            }
                        }
                )
            })
            $("#money").blur(function(){
                var that = $(this).val();
                $("#money").val(parseFloat(that).toFixed(2));
                matrixing(that);
            })

            $('input[name="type"]').change(function(){
                var that = $("#money").val();
                $("#money").val(parseFloat(that).toFixed(2));
                matrixing(that);
            })
            $('.save_info').click(function(){
                var product_id = $('input[name="product_id"]:checked').val();
                var money = $.trim($("#money").val());
                var remarks = $.trim($("#remarks").val());

//                var type = $('input[name="type"]:checked').val();
                var num = $('input[name="num"]:checked').val();
                if(num==-1){
                    num = parseInt($.trim($("#num").val()));
                }
                if(!num||num<1){
                    hint('warning','提示','交易手数设置不合法！');
                    return false;
                }
                if(!product_id){
                    hint('warning','提示','请选择产品');
                    return false;
                }
                if(money==''){
                    $("#money").focus();
                    hint('warning','提示','请输入充值金额');
                    return false;
                }
                var min_money = parseFloat($.trim($("#money").attr('min')));
//                var liquidate = parseFloat($.trim($("#money").attr('liquidate')));
                if(isNaN(money)||money<min_money||money<0){
                    $("#money").focus();
                    hint('warning','提示','金额输入不合法！');
                    return false;
                }
                if(!$("#consent_agreement").is(':checked')){
                    hint('warning','提示','请您阅读并同意《合作协议》');
                    return false;
                }
                /*var url = $(this).attr('url');
                var to_url = $(this).attr('to-url');
                $(this).attr('disabled',true);
                $.post(
                    url,
                    {
                        product_id:product_id,
                        money:money,
                        remarks:remarks,
                        type:type,
                        num:num,
                        liquidate:liquidate,
                    },function(data){
                        if(data['code']==0){
                            hint('success',data['msg'],data['data']);
//                            setTimeout(function(){
//                                window.location.href=to_url;
//                            },1000)
                        }else if(data['code']==1){
                            hint('warning',data['msg'],data['data']);
                            $('.save_info').attr('disabled',false);
                        }else if(data['code']==2){
                            hint('warning',data['msg'],data['data']);
                            $('.save_info').attr('disabled',false);
                        }
                    }
                )*/
            })
        })
    </script>
</block>