<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
            margin-top: 15px;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .save_info{
            float: right;
            margin-right: 45%;
            margin-top: 7%;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
        }
        .input-group{
            width: 18.5%;
            float: left;
        }
    </style>
    <script>
        var conversiorate = {$conversion['conversiorate']};
        function matrixing(that){
            $("#dollar").val(parseFloat(that*conversiorate).toFixed(2));
        }
    </script>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">我要出金</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="form-group">
                    <label for="money" class="col-sm-2 control-label text-align-right form_label">出金金额（元）：</label>
                    <!--<input type="number" min="0.01" onkeyup="matrixing(this.value);" placeholder="请输入充值金额" class="form-control form_text" name="money" id="money">-->
                    <div class="input-group">
                        <span class="input-group-addon">￥</span>
                        <input type="number" min="0.01" onkeyup="matrixing(this.value);" placeholder="请输入出金金额" class="form-control" name="money" id="money">
                    </div>
                    <big style="float: left; margin: 0px 10px;line-height: 34px;"> ≈ </big>
                    <!--<input type="number" disabled min="0.01" class="form-control form_text" id="dollar">-->
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" disabled min="0.01" placeholder="换算成美金" class="form-control" id="dollar">
                    </div>
                    <a class="btn btn-blue shiny save_info" to-url="{:U('User/refund_apply_list')}" url="{:U('User/refund_handle')}">出金</a>
                </div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <if condition="empty(session('user')['bank_card']) or empty(session('user')['bank_address'])">
        <input type="hidden" value="false" id="pass_refund" /><!--不允许出金-->
    <else />
        <input type="hidden" value="true" id="pass_refund" /><!--允许出金-->
    </if>

</block>
<block name="script">
    <script>
        $(function(){
            var url = $(".save_info").attr('url');
            var to_url = $(".save_info").attr('to-url');
            $(".save_info").click(function(){
                if($('#pass_refund').val()=='false'){
                    hint('warning','提示','请去完善银行卡及网点信息！');
                    return;
                }
                var money = Math.round(parseFloat($.trim($("#money").val()))*100)/100;
                if(money==''){
                    $("#money").focus();
                    hint('warning','提示','请输入出金金额');
                    return;
                }
                bootbox.setDefaults("locale","zh_CN");
                bootbox.confirm("您的出金金额为 "+money+" 元?", function (result) {
                    if (!result) {
                        return;
                    } else {
                        $.post(
                            url,
                            {
                                money:money,
                            },function(data){
                                if(data['code']==0){
                                    hint('success',data['msg'],data['data']);
                                    setTimeout(function(){
                                        location.href = to_url;
                                    },1000)
                                }else if(data['code']==1){
                                    hint('warning',data['msg'],data['data']);
                                }
                            }
                        )
                    }
                })

            })
            $("#money").blur(function(){
                var money = Math.round(parseFloat($.trim($("#money").val()))*100)/100;
                $("#money").val(money);
            })
        })
    </script>
</block>