<extend name="Public:base"/>
<block name="style">
    <style>
        .form-group{
            display: inline-block;
            width: 100%;
        }
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .form-control{
            width: 50%;
            display: inline-block;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            line-height: 34px;
            float: none;
        }
        .form_text{
            width: 50%;
            display: inline-block;
        }
        .refund_modal select{
            width: 50%;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">我的资产</span>
            </div><!--Widget Header-->
            <div class="widget-body">

                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>产品</th>
                        <th>可用资金（元）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="user_asset" item="vo">
                        <tr>
                            <td>{$vo.product}</td>
                            <td>{$vo.usable}</td>
                            <td>
                                <a product_id="{$vo.id}" usable="{$vo.usable}" class="refund" href="javascript:void(0);">提款</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <div class="refund_modal modal modal-darkorange">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">提款</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-align-right form_label">产品：</label>
                        <select id="product">
                            <foreach name="product_list" item="vo" >
                                <option value="{$vo.id}">{$vo.name}</option>
                            </foreach>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="money" class="col-sm-3 control-label text-align-right form_label">金额（元）：</label>
                        <input type="number" min="0.01" placeholder="" class="form-control form_text" name="money" id="money">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal_close btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" url="{:U('User/refund_handle')}" class="affirm_save btn btn-default">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</block>
<block name="script">
    <script>
        $(function(){
            var product = '';//操作产品对象
            var usable = '';//用户可用金额
            $("#product").attr('disabled',true);
            $(".refund").click(function(){
                product = $.trim($(this).attr('product_id'));
                usable = $.trim($(this).attr('usable'));
                $("#product").val(product);
                $("#money").val(null);
                $("#money").attr('placeholder','提款上线'+usable);
                $('.refund_modal').modal({show:true})
            })
            var url = $(".affirm_save").attr('url');
            $(".affirm_save").click(function(){
                var money = $.trim($("#money").val());
                if(money==''){
                    $("#money").focus();
                    hint('warning','提示','请输入提款金额');
                    return;
                }
                if(isNaN(money)||money<0.01||money>usable){
                    $("#money").focus();
                    hint('warning','提示','金额超出上限！');
                    return;
                }
                $.post(
                    url,
                    {
                        product_id:product,
                        money:money,
                    },function(data){
                        if(data['code']==0){
                            hint('success',data['msg'],data['data']);
                            setTimeout(function(){
                                location.reload();
                            },1000)
                        }else if(data['code']==1){
                            hint('warning',data['msg'],data['data']);
                        }
                    }
                )
            })
        })
    </script>
</block>