<extend name="Public:base"/>
<block name="style">
    <style>
        .widget-body{
            display: inline-block;
            width: 100%;
            height: 450px;
        }
        .control-label{
            line-height: 34px;
            margin-bottom: 0px;
        }
        .form_text{
            width: 15%;
            display: inline-block;
            float: left;
        }
        .add_trading select{
            width: 50%;
        }
    </style>
</block>
<block name="main">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat">
            <div class="widget-header">
                <span class="widget-caption">出金记录</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        <i class="fa fa-search"></i> 高级搜索
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <label class="col-sm-1 control-label text-align-right">分类：</label>
                                    <select id="status" class="form_text" data="{$status}">
                                        <option value="">全部</option>
                                        <option value="1">已出金</option>
                                        <option value="2">已拒绝</option>
                                        <option value="0">处理中</option>
                                    </select>

                                    <button id="seek" type="button" class="btn btn-primary" style="padding: 7px;">
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table_data table table-striped table-hover table-bordered">
                    <thead>
                    <tr role="row">
                        <th>产品</th>
                        <th>出金金额</th>
                        <th>申请时间</th>
                        <if condition="$status eq 0 or empty($status)">

                        <elseif condition="$status eq 1" />
                            <th>实际出金</th>
                            <th>手续费</th>
                        <elseif condition="$status eq 2" />
                            <th>拒绝理由</th>
                        </if>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody class="data_user">
                    <foreach name="apply_list" item="vo">
                        <tr>
                            <td>{$vo.product}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
                            <if condition="$status eq 0 or empty($status)">
                                <td>
                                    <if condition="$vo.status eq 0">
                                        处理中
                                    <elseif condition="$vo.status eq 1"/>
                                        已出金
                                    <elseif condition="$vo.status eq 2"/>
                                        被拒绝
                                    </if>
                                </td>
                            <elseif condition="$status eq 1" />
                                <td>{$vo.actual_refund}</td>
                                <td>{$vo.poundage}</td>
                                <td>已出金</td>
                            <elseif condition="$status eq 2" />
                                <td>{$vo.remarks}</td>
                                <td>被拒绝</td>
                            </if>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="page">{$show_page}</div>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <input type="hidden" url="{:U('User/refund_apply_list')}" id="refund_apply_list">
</block>
<block name="script">
    <script src="__ASSETS__/js/datetime/daterangepicker.js"></script>
    <script>
        $(function(){
            $("#status option[value="+$("#status").attr('data')+"]").attr("selected", true);
            var url = $("#refund_apply_list").attr('url');
            $("#seek").click(function(){
                var status = $.trim($("#status").val());
                window.location.href=url+"?status="+status;
            })
        })
    </script>
</block>